[2017-03-29 20:39] eread-usgs opened #1 "Create a fetcher (3)"
Have the fetcher pull lines from viz.yaml that includes all of the analytics IDs.

[2017-03-29 20:40] eread-usgs opened #2 "Master table of analytics ID, Long name, short names, and URL"

[2017-03-29 20:42] eread-usgs opened #3 "Disclaimer, explanations, etc"

[2017-03-29 20:44] eread-usgs opened #4 "Portfolio summary Session bar chart"
Mock it up.

[2017-03-29 20:44] eread-usgs opened #5 "Portfolio summary Geo"
For US , w states resolved

[2017-03-29 20:44] eread-usgs opened #6 "Portfolio summary Device type and Traffic"

[2017-03-29 20:45] eread-usgs opened #7 "Application report - Sessions: Year/mo/week/day"

[2017-03-29 20:45] eread-usgs opened #8 "Application report Geo"

[2017-03-29 20:45] eread-usgs commented on #8
Monthly average

[2017-03-29 20:46] eread-usgs opened #9 "Application report - Monthly Device type and traffic"

[2017-03-29 20:47] eread-usgs opened #10 "Application report Monthly new vs. returning users"

[2017-03-29 20:47] eread-usgs opened #11 "Application report Monthly summary of Average time on page, total user time"

[2017-03-29 21:01] eread-usgs opened #12 "Allow page publishers to be used as dependencies for links"
and possibly create multiple pages with one publish section

[2017-03-29 21:26] eread-usgs opened #13 "Figure design / style"
We want to have consistent colors, legends, etc for figures- need to define some style rules or have someone come in after the fact and make them consistent.

[2017-03-29 21:41] eread-usgs commented on #11
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:41] eread-usgs commented on #10
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:41] eread-usgs commented on #9
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:42] eread-usgs commented on #7
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:42] eread-usgs commented on #6
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:42] eread-usgs commented on #5
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:42] eread-usgs commented on #4
- [ ] Title
- [ ] Legend
- [ ] Axis labels

[2017-03-29 21:45] eread-usgs commented on #6
![screen shot 2017-03-29 at 4 45 13 pm](https://cloud.githubusercontent.com/assets/7794368/24478074/21d095cc-149f-11e7-99d0-8725e0624771.png)

[2017-03-29 21:45] eread-usgs commented on #5
![screen shot 2017-03-29 at 4 45 41 pm](https://cloud.githubusercontent.com/assets/7794368/24478087/2c396f5c-149f-11e7-8445-3a01c346594e.png)

[2017-03-29 21:46] eread-usgs commented on #9
![screen shot 2017-03-29 at 4 46 29 pm](https://cloud.githubusercontent.com/assets/7794368/24478120/47fa9e14-149f-11e7-962a-0c1fdd8bec71.png)

[2017-03-29 21:47] eread-usgs commented on #10
![screen shot 2017-03-29 at 4 46 47 pm](https://cloud.githubusercontent.com/assets/7794368/24478134/53150fb4-149f-11e7-9787-a7b6405ffc15.png)

[2017-03-29 21:47] eread-usgs commented on #11
![screen shot 2017-03-29 at 4 47 01 pm](https://cloud.githubusercontent.com/assets/7794368/24478153/6319b3ba-149f-11e7-8b02-27f56bac513e.png)

Plus total usage time (avg time on page * # users)

[2017-03-29 21:48] eread-usgs commented on #7
![screen shot 2017-03-29 at 4 44 31 pm](https://cloud.githubusercontent.com/assets/7794368/24478049/0202f942-149f-11e7-857e-dafed6be049f.png)

[2017-03-29 21:48] eread-usgs commented on #4
![screen shot 2017-03-29 at 4 44 31 pm](https://cloud.githubusercontent.com/assets/7794368/24478049/0202f942-149f-11e7-857e-dafed6be049f.png)

[2017-03-29 21:49] eread-usgs opened #14 "Template and layout for pages"
per the mock ups below + header + footer
![img_20170329_103907](https://cloud.githubusercontent.com/assets/7794368/24478227/ac0c6e1e-149f-11e7-93d7-4f566e311f0a.jpg)
![img_20170329_103859](https://cloud.githubusercontent.com/assets/7794368/24478234/b54f8b00-149f-11e7-9dd2-62124439b45f.jpg)

[2017-03-29 21:51] eread-usgs opened #15 "Confirm analytics ID with each project owner"

[2017-04-03 18:59] eread-usgs commented on #13
@jread-usgs you are pretty savvy with this- maybe we'll ask you to drop in for one task on this?

[2017-04-03 19:01] eread-usgs commented on #2
@wdwatkins if you get this started coming at it from the analytics side of things, I can work it from the other end, in terms of long and short names that jive with our and our partners' expectations/naming schemes.

[2017-04-03 19:08] eread-usgs commented on #14
@mwernimont I know you may not have context for this yet- I'll fill you in the next time I see you.

[2017-04-03 20:06] eread-usgs commented on #1
- [ ] refer to figures/ report components to determine data requirements.

[2017-04-03 20:11] eread-usgs commented on #2
Put it in the repo

[2017-04-03 20:37] eread-usgs opened #16 "Create skeleton for the pages"
- [x]  summary 'home' page and ~20 pages per application
- [x] dev job deployed

[2017-04-03 20:42] eread-usgs opened #17 "jenkins job"

[2017-04-03 20:47] eread-usgs commented on #14
Consider using twitter bootstrap for this? Need some way to control layout. Lets discuss @mwernimont

[2017-04-03 20:50] eread-usgs commented on #17
deploy to internal.usgs.gov....

[2017-04-03 21:09] eread-usgs commented on #1
data requirements now described @wdwatkins

[2017-04-03 21:41] wdwatkins commented on #2
@eread-usgs https://github.com/USGS-VIZLAB/internal-analytics/blob/master/data/cida_ga_table.csv

[2017-04-04 13:26] mwernimont commented on #14
I don't really know what is going on, but my 2 cents is I'd rather use flexbox than bootstrap. I think I kinda see what you want, and flexbox is pretty flexible.

[2017-04-04 13:50] jiwalker-usgs commented on #14
I defer to you on this one, I just think it is probably be good to go a bit more in on a framework for this viz.

[2017-04-05 18:17] wdwatkins commented on #1
viewID is what we want to use to reference apps

[2017-04-06 14:11] eread-usgs commented on #2
Thanks @wdwatkins. Did you notice that 'bot filtering enabled' is TRUE only on 5 projects? Any implications for our work @wdwatkins @jiwalker-usgs @jread-usgs

[2017-04-06 15:27] wdwatkins commented on #2
most traffic on dataRetrieval github.io is bots:
![image](https://cloud.githubusercontent.com/assets/13987349/24762339/af9737de-1ab3-11e7-9e1b-9f5e91962c1a.png)

[2017-04-06 20:01] wdwatkins commented on #2
Got down a bit of a rabbit hole with this, but my impression is that on heavily-used apps we can get away with ignoring bots, but with less traffic they start really skewing things.

[2017-04-14 13:37] eread-usgs commented on #17
@jiwalker-usgs, this is a friendly reminder that we planned for this to be complete before monday at 10am.

[2017-04-14 13:37] eread-usgs commented on #16
@jiwalker-usgs , this is a friendly reminder that we planned for this to be complete before monday at 10am.

[2017-04-14 13:38] eread-usgs commented on #12
@jiwalker-usgs , this is a friendly reminder that we planned for this to be complete before monday at 10am.

[2017-04-14 13:46] eread-usgs commented on #2
@wdwatkins , we now have a  google sheet (https://docs.google.com/spreadsheets/d/1qxFsMfHU3DsLuxT-zvq6WORwM2-Ga3HqWPdQcElMp3s/edit#gid=1693340031) that is commented out and has some new rows but which are incomplete in terms of IDs, etc. Please use Column N to determine which accounts we should include, and note the two new ones at the bottom that also need to be added. Let me know if you have que

[2017-04-14 13:49] eread-usgs commented on #15
see https://github.com/USGS-VIZLAB/internal-analytics/issues/2

[2017-04-14 13:49] #15 closed

[2017-04-14 17:03] wdwatkins commented on #1
probably want to run this fetcher twice, since there will be two GA accounts with different credentials

[2017-04-17 15:12] #1 closed

[2017-04-17 15:17] eread-usgs opened #19 "Get fetcher to only pull most recent data and a couple misc items"
- [x] see comments here: https://github.com/USGS-VIZLAB/internal-analytics/pull/18

- [x] Did lindsay do something for github create repo that could be used as a pattern for authenticating twice with Jenkins. Dont push this up to github.

- [x] By end of the day, get the fetcher running so data are on SB.

- [x] using chunking to get all the data

[2017-04-17 15:17] #2 closed

[2017-04-17 15:21] eread-usgs commented on #16
waiting on https://github.com/USGS-VIZLAB/internal-analytics/issues/14 to be complete

[2017-04-17 15:33] eread-usgs opened #20 "Process - create daily summaries"
Data requirements (we need these data individual applications and we'll need to aggregate up to all applications for the summary)
- [ ] Previous month average time on page
- [x] Previous month new versus returning users
- [ ] Previous month device type
- [ ] Previous month traffic source (social, direct, etc)
- [ ] Previous month US Geo locations
- [ ] Previous year number of sessions (displayed d

[2017-04-17 16:00] eread-usgs opened #21 "Create individual processing steps."
Figure out whats needed for each visualization step  / graph.

[2017-04-17 16:03] eread-usgs opened #22 "Publish - new publisher"
Create a new publisher that will create one page per project and will pull the right data and figures into it.

[2017-04-17 18:55] jiwalker-usgs commented on #16
I'm going to hand this to @mwernimont as his next PR should handle this.

[2017-04-18 13:25] eread-usgs commented on #3
Draft text here: https://docs.google.com/document/d/1Gl-7b5LfXYqLjYLycqYWwL6Rnx49rDr-hxud0MdnT4M/edit

[2017-04-18 13:25] #3 closed

[2017-04-18 16:37] eread-usgs commented on #14
I think this is complete with https://github.com/USGS-VIZLAB/internal-analytics/pull/27

[2017-04-18 16:37] #14 closed

[2017-04-18 16:38] eread-usgs commented on #16
@jiwalker-usgs should this be closed with https://github.com/USGS-VIZLAB/internal-analytics/pull/27?  Not sure things are up on Dev yet, which is one of the check boxes above....

[2017-04-18 18:50] #21 closed

[2017-04-18 18:59] #20 closed

[2017-04-18 19:36] ldecicco-USGS commented on #7
@eread-usgs from top to bottom: daily, daily, hourly, hourly?

[2017-04-18 19:38] eread-usgs commented on #7
I thought we discussed daily, daily, daily, hourly at our planning mtg 2 weeks ago.... but I'm fine w either @ldecicco-USGS

[2017-04-18 19:38] ldecicco-USGS commented on #7
I just couldn't remember, daily, daily, daily, hourly it is

[2017-04-18 19:55] eread-usgs opened #33 ""Last updated" Stamp"
What time of day should we update the analytics- midnight?

We should show at the top of the page when it was last updated....

[2017-04-18 19:55] eread-usgs commented on #33
@mwernimont want to think about a good location from design perspective to add a timestamp?

[2017-04-18 20:07] #10 closed

[2017-04-18 20:35] wdwatkins commented on #33
midnight/early morning would make the most sense I think - I have set up the fetcher to download up through the previous full day's data to simply appending the latest new data.

[2017-04-18 21:07] eread-usgs opened #35 "Portfolio summary & application - histogram of users over previous day"
midnight to midnight, histogram of visitors across whole portfolio and for each individual application

[2017-04-19 15:33] #16 closed

[2017-04-19 15:33] #17 closed

[2017-04-19 15:33] #22 closed

[2017-04-19 16:36] #7 closed

[2017-04-19 16:39] #9 closed

[2017-04-19 16:41] ldecicco-USGS commented on #4
I'll start a "portfolio" graph now to make sure it's as easy as the "application" pages.

[2017-04-19 21:48] #4 closed

[2017-04-20 13:59] #8 closed

[2017-04-20 15:14] eread-usgs opened #47 "Portfolio sessions- pretty-fying"
- [ ] make portfolio sessions one figure - one set of labels, one figure
- [ ] Add date ranges for each bar chart: e.g., Apr 17 2017 - May 17 2017
- [ ] Add legend
- [ ] Double check that labels are showing up (may need to talk to marty)

[2017-04-20 15:16] eread-usgs opened #48 "Map - fixing it up"
- [ ]  Make colors grayscale
- [x] Legend title should read sessions
- [ ] Make legend smaller
- [ ] Make Map match in whitespace
- [x]  Add in Ak and HI
- [ ] Legend gets cut off

[2017-04-20 15:17] eread-usgs opened #49 "Traffic and device type figures"
Give R code a dynamic margin based on how many chars in the label

[2017-04-20 15:19] eread-usgs opened #50 "hourly histogram"
histogram for hour of day number of sessions- add to portfolio page and project page

[2017-04-20 15:25] eread-usgs opened #51 "project page- sessions per year / month / week / day"
- [ ] Add x axix labels
- [ ] For weekly and hourly session traces, plot max resolution (daily for week, hourly for day).
- [ ] For new versus returning, show both percentages.
- [ ]  line up figure width based on traffic, for both traffice and device type figures.

[2017-04-20 15:26] eread-usgs commented on #49
- [ ]  line up figure width based on traffic, for both traffice and device type figures.

[2017-04-20 15:41] ldecicco-USGS opened #52 "Alt text, titles, etc"
Need to update....right now they are lame

[2017-04-24 14:02] #49 closed

[2017-04-24 14:03] #35 closed

[2017-04-24 14:04] #33 closed

[2017-04-24 14:04] #5 closed

[2017-04-24 14:04] #6 closed

[2017-04-24 14:05] #51 closed

[2017-04-24 14:06] #12 closed

[2017-04-24 14:06] #50 closed

[2017-04-24 14:06] #13 closed

[2017-04-24 14:07] eread-usgs commented on #19
Need to discuss options for this at the retro.

[2017-04-24 17:10] mwernimont commented on #48
![screen shot 2017-04-24 at 12 08 38 pm](https://cloud.githubusercontent.com/assets/6390096/25349300/ef70a502-28e6-11e7-86fd-ecd17eb78dac.png)
![screen shot 2017-04-24 at 12 08 51 pm](https://cloud.githubusercontent.com/assets/6390096/25349304/f1c45f6a-28e6-11e7-97b3-d0cad1d553f8.png)

[2017-04-24 17:11] mwernimont commented on #48
The front page map(top picture) has a weird padding that causes a giant white space between the map and its header. I noticed the details map doesn't have it, are we creating those differently?

[2017-04-24 17:13] ldecicco-USGS commented on #48
Yeah, I think @jread-usgs 's last PR fiddled with one map and not the other...I'll have a look.

[2017-04-24 18:44] wdwatkins commented on #19
We are set now, unless new things come up.

[2017-04-24 18:46] wdwatkins opened #80 "Application summaries - print total sessions over period on time series charts"

[2017-04-24 19:42] eread-usgs commented on #19
yes!  nice work @wdwatkins

[2017-04-24 19:42] #19 closed

[2017-04-25 15:19] eread-usgs opened #82 "Add Month to Portfolio Year / Week figure."

[2017-04-25 15:22] eread-usgs commented on #82
Prior to this- have brief discussion w @ldecicco-USGS @jiwalker-usgs @jread-usgs emily

[2017-04-25 15:50] eread-usgs opened #83 "create test tier"

[2017-04-26 17:12] jiwalker-usgs commented on #83
I created a new job that will push to http://intcida-test.er.usgs.gov/analytics

[2017-04-26 19:10] jiwalker-usgs commented on #83
New job builds nightly (actually 8am) and on merges.  Old job ("prod") only builds nightly.

[2017-04-26 21:17] eread-usgs opened #87 "make the big question mark smaller"
Height of the question mark should be about the same as other figures in the same group.

![screen shot 2017-04-26 at 4 15 58 pm](https://cloud.githubusercontent.com/assets/7794368/25457376/b0960f96-2a9b-11e7-8a14-5730d949ed01.png)

[2017-04-26 21:49] mwernimont commented on #87
@jiwalker-usgs is there a way we can add a class to the question mark image so I don't have to do a bunch of CSS work for an image that may or may not appear?

[2017-04-26 21:51] ldecicco-USGS commented on #87
I chuckle every time I see the ginormous question mark...are you sure we can't keep it? :smile:

[2017-04-26 21:59] jiwalker-usgs commented on #87
I think the easier way would be to change the aspect ratio of the missing.png file.  It is meant as a stand-in for the missing plots, so it should be formatted the same way the plots are.

[2017-04-26 22:11] mwernimont commented on #87
so we can just add the aspect ratio thing the charts have in the yaml to the question mark?

[2017-04-26 22:29] jiwalker-usgs commented on #87
no, because the question mark is just static from what you gave me

[2017-04-27 19:17] jiwalker-usgs commented on #83
reopened as test site is not quite working yet

[2017-05-04 14:09] #47 closed

[2017-05-04 14:10] eread-usgs opened #91 "Portfolio sessions- final style touches"
see attached- each yellow box is a sub task of this issue.
![screen shot 2017-05-04 at 9 00 25 am](https://cloud.githubusercontent.com/assets/7794368/25707542/81686b7e-30a9-11e7-8a4e-45b34bb7bb8f.png)

[2017-05-04 14:12] eread-usgs commented on #48
Legend gets cut off in some cases- making it smaller may deal w this issue.

![screen shot 2017-05-04 at 9 11 10 am](https://cloud.githubusercontent.com/assets/7794368/25707632/bd13a1b6-30a9-11e7-8ffa-c3065694a221.png)

[2017-05-04 14:13] #82 closed

[2017-05-04 14:13] #11 closed

[2017-05-04 14:13] ldecicco-USGS commented on #91
What does remove outliers mean?

[2017-05-04 14:14] eread-usgs commented on #91
remove outlines, not outliers. I mean the black outlines around the boxes.

[2017-05-04 14:16] ldecicco-USGS commented on #91
Doh! That sounds much easier.

[2017-05-04 14:24] eread-usgs opened #92 "Time-of-Day, traffic, device type, average time quad plot"
See issues shown in attached image- some of them apply across more than one figure- comments are coded by color and indicated across figures in that way.
![screen shot 2017-05-04 at 9 15 18 am](https://cloud.githubusercontent.com/assets/7794368/25711778/58733f1c-30b5-11e7-9780-17bfcbd29881.png)

[2017-05-04 14:25] eread-usgs opened #93 "Make pie chart smaller"
@mwernimont , could this be made 1/2 of its current size? running into resolution issues b/c we didnt intend it to be so big.

![screen shot 2017-05-04 at 9 24 44 am](https://cloud.githubusercontent.com/assets/7794368/25708250/942eea10-30ab-11e7-8545-4cc6628d1303.png)

[2017-05-04 14:36] eread-usgs opened #94 "Make pie chart color consistent w/ gray used in other figures."
Use gray consistently across figures.
Also, may need to increase font size after marty scales this figure down to the approximate size of the figures in the quad plot above.

![screen shot 2017-05-04 at 9 35 06 am](https://cloud.githubusercontent.com/assets/7794368/25708743/02931994-30ad-11e7-9b46-8f731f4d575b.png)

[2017-05-04 15:31] eread-usgs commented on #91
Make legend smaller - legend cuts of data in some cases (see attached)

![screen shot 2017-05-04 at 10 30 59 am](https://cloud.githubusercontent.com/assets/7794368/25711549/d1bb2688-30b4-11e7-9837-c420ddc1bab9.png)

[2017-05-04 16:19] mwernimont commented on #93
https://github.com/USGS-VIZLAB/internal-analytics/pull/95

[2017-05-04 20:06] ldecicco-USGS opened #96 "Clean up archive data"
By hand, merge the 2 archive file into 1, and split that 1 into an "old archive" and the working file.

[2017-05-17 13:42] eread-usgs opened #101 "Add 'contact' for each application"
and for access to / additional info on analytics data

[2017-05-17 13:57] eread-usgs opened #102 "confirm time zones are consistent in 'time of day' plot"
Are the time zones coming in in a standard format including w time zones? need to confirm we are doing any necessary conversion so that data is adjusted to a consistent time zone.

[2017-05-17 13:58] eread-usgs opened #103 "Annotate plots with add'l details"
e.g., each figures should have a caption explaining the meaning of the data shown and any analysis or assumptions made.

[2017-05-17 13:59] eread-usgs opened #104 "add 'streamer' app to internal analytics"
service account has already been added.... do we need anything else?

[2017-05-17 14:01] eread-usgs opened #105 "add WIM accounts to analytics page"
Long Names:
1. USGS Flood Event Viewer
2. Flood Innundation Mapper
3. USGS Ground Water Watch
4. Mississippi River Basin Flood of 2015/2016
5. National Water-Quality Assessment - Decadal Trends Mapper
6. National Water-Quality Assessment - Water Quality Changes in the Nation's Streams and Rivers
7. National Water Information System Mapper
8. National Water Information System Mapper - Water Alert
9

[2017-05-17 14:03] eread-usgs commented on #105
@wdwatkins if you want me to add these to that google sheet, i'd be happy to (or let me know what I can do to assist getting these into the app).

[2017-05-17 14:08] eread-usgs opened #106 "add WMA static content UAs"
@wdwatkins please see the emails from me and Howard Perlman on May 3 for add'l details. Include 'Not W.S. School' and 'Water Science School' views as a start. Short/long names for these two should be:

View / Short name / long name
'Not W.S. School' / water.usgs.gov / water.usgs.gov
'Water Science School' / WaterSciSchool / Water Science School

[2017-05-17 14:11] eread-usgs opened #107 "add in short description of each application at the top of the page."

[2017-05-17 14:17] wdwatkins commented on #105
@eread-usgs the account info is stored here: https://github.com/USGS-VIZLAB/internal-analytics/blob/master/data/ga_table.csv.  You just need to fill in the long/short names, URL, and viewID, the other columns aren't being used.

[2017-05-17 15:32] eread-usgs opened #108 "Figure out how to add in text for legends and descriptions of apps"
Legends can likely be coded into the yaml, but descriptions of apps might better fit in the CSV w the other metadata such as names, etc? Lets discuss

[2017-05-17 16:07] wdwatkins commented on #102
The time zone is set in the view, so it seems to depend on the location of whoever created the views.  Is it a big deal if they aren't all the same, as long as we note what the timezone is on the application page?  We would have to convert timezones locally.

[2017-05-17 19:43] eread-usgs opened #110 "Try alternative file format, local storage, or S3"
Noting this for the record, in case science base has trouble again....

[2017-05-17 19:44] eread-usgs opened #111 "Figure captions as question mark"
Create a way for users to mouse over an icon to reveal information about the figure and how it was created.

[2017-05-17 19:44] eread-usgs opened #112 "Create figure captions"
To explain terms and how numbers were generated

[2017-05-17 19:44] eread-usgs opened #114 "Create yaml to acommodate application description task"

[2017-05-17 19:45] eread-usgs opened #115 "make application titles hyperlinks"
use the URL shown in the csv file associated w the account.

[2017-05-17 19:46] eread-usgs opened #116 "Get rid of time of day figure on summary page"
To deal w time zone issues.

[2017-05-17 19:51] wdwatkins commented on #110
@jiwalker-usgs and I are going to try a bucket anyways

[2017-05-18 17:50] #111 closed

[2017-05-18 19:21] #48 closed

[2017-05-18 19:21] #87 closed

[2017-05-18 19:21] #91 closed

[2017-05-18 19:21] #92 closed

[2017-05-18 19:21] #93 closed

[2017-05-18 19:21] #94 closed

[2017-05-18 19:21] #108 closed

[2017-05-18 19:21] #110 closed

[2017-05-18 19:21] #115 closed

[2017-05-18 19:21] #116 closed

[2017-05-18 19:22] #114 closed

[2017-05-18 22:22] wdwatkins commented on #96
this was done with #97 ☝️

[2017-05-18 22:22] #96 closed

[2017-05-19 15:14] wdwatkins commented on #102
User time zone doesn't seem to be an available dimension from google

[2017-05-23 22:25] wdwatkins commented on #104
@eread-usgs Just which view to use - there are two.  I can ask Ramona.

[2017-05-23 22:50] wdwatkins commented on #105
GroundWaterWatch, is already there, I am working on the rest.  I noticed that the NAWQA SW trends view lists a test url in the `websiteUrl` field, although this is just whatever they entered into the UI, not necessarily where the data comes from.  Might be worth checking though?

[2017-05-26 15:22] jread-usgs opened #133 "greater separation between viz and process steps"

[2017-05-26 17:28] jiwalker-usgs commented on #83
JIRA issue doesn't seem to be getting much traction, so I'm switching approaches to a different URL

[2017-05-26 17:49] jiwalker-usgs commented on #83
Closing this as we have a working test site.

[2017-05-26 17:49] #83 closed

[2017-05-30 15:44] lindsaycarr commented on #133
this is on hold until further notice, correct?

[2017-05-30 15:47] ldecicco-USGS commented on #133
yeah, let me get my latest stuff pushed up, and then I'll give you an overview on the yaml (with the app pages it can get tricky). Maybe sometime this afternoon let's pow-wow

[2017-06-01 19:53] wdwatkins commented on #105
@eread-usgs these are all added now, they just need description fields filled in.

[2017-06-01 19:54] wdwatkins commented on #104
done with #128

[2017-06-01 19:54] #104 closed

[2017-06-09 12:50] wdwatkins commented on #106
@eread-usgs Those two are added, are there any others?

[2017-06-09 20:27] #112 closed

[2017-06-09 20:27] #103 closed

[2017-06-09 20:27] #105 closed

[2017-06-09 20:27] #106 closed

[2017-06-09 20:56] eread-usgs commented on #107
@lindsaycarr or @wdwatkins can one of you take this on over the next week or two? We need to add project descriptions and contact info for applications included in the analytics report (see attachment). Here (https://docs.google.com/spreadsheets/d/1NEpyAPCdQUvFUHl7AKAXE1UDB-aEq51Ni5mn2-EdkFY/edit#gid=1262354658) I have compiled a brief description of a number of these applications, but not all. Co

[2017-06-09 21:30] lindsaycarr commented on #107
I can take this on next week!

[2017-06-12 13:21] eread-usgs commented on #107
thanks @lindsaycarr, and let me know if you have questions once you get going on it.

[2017-06-12 14:10] wdwatkins commented on #107
@lindsaycarr There is a field in the app yaml file: https://github.com/USGS-VIZLAB/internal-analytics/blob/master/data/gaTable.yaml#L13

[2017-06-12 20:12] lindsaycarr commented on #107
@eread-usgs how long should these descriptions be? One sentence, a paragraph, or two paragraphs?

[2017-06-12 20:51] lindsaycarr commented on #107
Nevermind - found your descriptions (forgot you had them already)

[2017-06-12 20:51] lindsaycarr commented on #107
Still need:

- [ ] Great Lakes Restoration Initiative Phragmites
- [ ] Biodata Retrieval

[2017-06-12 21:14] lindsaycarr commented on #107
@eread-usgs what do I need to do for the ones with `.na.character` in their description? That starts with `water.usgs.gov` and ends with `Flood Inundation Mapper`. Then, the last two `USGS Flood Event Viewer` and `National Water Information System Mapper` have `"NA"`.

[2017-06-13 16:41] lindsaycarr commented on #107
Still need to get b/c they don't have working URLs listed.

- [ ] Streamer - TX WSC
- [ ] SparrowTN
- [ ] Flood Inundation Mapper

[2017-06-13 19:41] jiwalker-usgs opened #141 "Adding groundwaterwatch and waterwatch"
I commented these out because they were failing the build at one point, but they should work and just might need to be bootstrapped to get them working.

[2017-06-16 20:59] #133 closed

[2017-06-19 18:48] lindsaycarr commented on #107
Need to add contacts to each app:

- Project Contact
- Analytics Contact

[2017-06-21 16:36] lindsaycarr commented on #107
Some applications seem like they don't have an owner, so I put @eread-usgs for now.

- CIDA Website
- VizLab: California Drought
- VizLab: Colorado River Drought
- OWI Website
- water.usgs.gov

Also, I put Gary Latzke for anything related to WIM.

- StreamStats
- SparrowTN
- NaWQASWTrends
- NaWQADecadalTrendsMapper
- NPSMercuryMapper
- MARB
- GLCWRA-WLERA
- GLCWRA-SBRA
- GLCWRA-CRSRA
- FIM
- FEV

[2017-06-28 20:27] eread-usgs commented on #107
thanks @lindsaycarr !!

[2017-06-28 20:27] #107 closed

[2017-06-28 20:28] eread-usgs opened #149 "pad datasets w/ no analytics due to no usage with zeros"
Per our conversation on 6/28 on the #internal-analytics channel. This is to avoid the appearance of out of data data.
![screen shot 2017-06-28 at 9 59 06 am](https://user-images.githubusercontent.com/7794368/27658688-71d69d0a-5c16-11e7-96cd-35f9b07db1cb.png)
![screen shot 2017-06-28 at 9 59 15 am](https://user-images.githubusercontent.com/7794368/27658691-74d5aa8c-5c16-11e7-9911-15bf0f8f1ad3.png)

[2017-07-07 14:03] jread-usgs opened #151 "display a 0 when there isn't any traffic for a time period on figure 1"
Instead of empty lines:
![image](https://user-images.githubusercontent.com/2349007/27961090-32d9099c-62f3-11e7-92a9-ea2f948715b1.png)

[2017-07-07 14:04] jread-usgs opened #152 "add new process step to determine whether a significant up or down trend exists over the time period"
as part of adding trend markers:
![image](https://user-images.githubusercontent.com/2349007/27961116-502583b8-62f3-11e7-86db-5147d0b81149.png)

[2017-07-07 14:58] eread-usgs commented on #52
Update all app-specific alt text for figures
Check alt-text for top level 3-panel figure

[2017-07-07 14:58] #101 closed

[2017-07-07 14:58] #141 closed

[2017-07-07 14:59] eread-usgs opened #153 "review all captions and all project description text"

[2017-07-07 15:01] eread-usgs opened #154 ""User Time" is not updated when time period selected is changed"
Suggest: Use average and total for the time period. Average is emphasized as clock time, and total is small and in text form at the base of the div

[2017-07-10 15:09] eread-usgs commented on #154
@ldecicco-USGS @lindsaycarr @wdwatkins Anyone up for taking this on this week? I think it'd be a small task (a couple hours or less), but we need to coordinate with @mwernimont on it. Let me know and I'll schedule a very brief meeting to discuss what this entails.

[2017-07-10 15:24] ldecicco-USGS commented on #154
I can probably take some of these tasks this afternoon, but if someone assigns themselves a task or two before I jump on, that would be super too

[2017-07-10 15:39] eread-usgs commented on #154
@ldecicco-USGS  thanks. we need to connect in person before you start this one -  ill look for you later today.

[2017-07-10 18:59] eread-usgs commented on #154
@mwernimont I caught up w @ldecicco-USGS about this, will try to find you this afternoon or tomorrow morning to discuss.

[2017-07-10 19:04] mwernimont commented on #154
sounds good

On Mon, Jul 10, 2017 at 1:59 PM, Emily Read <notifications@github.com>
wrote:

--
[image: Lynxnet, LLC] Marty Wernimont | Web Designer Jr
Lynxnet, LLC | 8505 Research Way, Middleton, WI 53562
Office:608-821-3839 | Cell: 507-301-2496 | Marty.Wernimont@lynxnetllc.com

Confidentiality Notice: This e-mail message, including any attachments, is
for the sole use of the intended recipient(s)

[2017-07-10 19:32] #149 closed

[2017-07-10 21:25] ldecicco-USGS commented on #151
![image](https://user-images.githubusercontent.com/1105215/28040727-530391d8-658c-11e7-87bd-7a0a1b8ee399.png)

Does that look OK @jread-usgs ?

[2017-07-10 21:41] #52 closed

[2017-07-11 06:07] aappling-usgs commented on #152
I'm finding "significant up or down trend" to be a more complicated idea than I first thought. @ldecicco-USGS , let's talk! First cut is a seasonal Kendall test, blocking on day of week, if there are at least four days of week with at least four observations. Otherwise (i.e., always for the 1-week window) using Mann-Kendall with no blocking. I wanted Kendall because the trends I see are almost alw

[2017-07-11 15:25] ldecicco-USGS opened #159 "Add in PR"
as far as I can tell, Google Analytics refers to it only as San Juan, but verifying that would be good.

[2017-07-11 16:58] ldecicco-USGS commented on #154
So now the tables get updated with year/month/week (on "test"). @mwernimont let's connect sometime to figure out how you want to prettify it.

[2017-07-11 16:59] #151 closed

[2017-07-11 18:35] eread-usgs opened #160 "documentation for the code"
We got a request from WIM to provide a readme for this app. and it'd be good to have something in place, very minimal at least.

 @wdwatkins, would you be willing to take this on?

[2017-07-11 18:36] #153 closed

[2017-07-11 18:51] wdwatkins commented on #152
could do something simple with short term/long term moving averages too (long enough to smooth out the weekly signals)

[2017-07-11 19:01] aappling-usgs commented on #152
that's a good idea for the 1-year and 1-month trends, thanks. if we decide to dig deeper into this, i'll include that as a possible competitor to the blocking approach.

[2017-07-11 19:08] wdwatkins commented on #160
So this would be from a developer standpoint?  If someone wanted to set this up with their own google analytics and AWS accounts?

[2017-07-11 20:57] eread-usgs commented on #160
yes i think so, or contributors to it, e.g., if someone wanted a new project added but needed to know which yaml file to add it to, I think it can be pretty minimal, but the readme right now is just blank.

[2017-07-13 16:06] ldecicco-USGS opened #171 "Create a system variable to set update:FALSE/TRUE"
If no system variable set (a la Jenkins):
[code]
if it is set...:
[code]
Agreed @jiwalker-usgs

[2017-07-13 16:07] ldecicco-USGS opened #172 "New process to check for earliest GA data for each viz"
We can use this to determine if yearly data is missing or just no hits

[2017-07-13 17:31] jiwalker-usgs commented on #171
Yeah, I talked about this with David a while back, we didn't fully come up with the scheme to do it, but yes.

[2017-07-17 14:21] lindsaycarr opened #177 "regionalization metric"
preliminary implementation of the "regionality" scale for each app at the year scale. It doesn't need to be included in the app now and you could just make one bar chart figure for it. A "spearman rank correlation" will be a good way to get the index.

@jread-usgs in #internal-analytics Slack channel

@aappling-usgs reaction:

[2017-07-17 15:29] lindsaycarr commented on #177
@jread-usgs @aappling-usgs I think I setup the correct comparison data to get these ranks. I just don't really know what to do for the actual index. I'm using cached session data from the process step, `lastest_year.rds`.

[code]

Am I trying to compare the right things?

[2017-07-17 16:13] jread-usgs commented on #177
I think so...
`traffic_by_state$traffic_pct` is the actual percent of traffic for each state over the time period (yearly here, but would apply to month or week as well) and `traffic_by_state$pop_pct` is the percent of total us pop in that state?
can you calc the metric for a could of apps and share? Or do a barchart/lollipop with a point for each app and then we can see if it passes the smell tes

[2017-07-17 16:32] aappling-usgs commented on #177
agreed with jread - looks good to me so far.

[2017-07-17 17:03] lindsaycarr commented on #177
`traffic_by_state$traffic_pct` = percent of total users in each state
`traffic_by_state$pop_pct` = percent of total population in each state

![image](https://user-images.githubusercontent.com/13220910/28279965-d248d218-6ae7-11e7-8e2e-7e86bb34558f.png)

![image](https://user-images.githubusercontent.com/13220910/28279998-f185d838-6ae7-11e7-9cfd-f13388de282d.png)

[2017-07-17 17:06] jread-usgs commented on #177
Possible to get the app names on the bar plot @lindsaycarr ?

[2017-07-17 17:08] lindsaycarr commented on #177
The dataset I have cached only has viewIDs, and no corresponding app names. I'll run make and see if it changes. If not, I might be able to work something out -- not sure how quickly

[2017-07-17 17:12] lindsaycarr commented on #177
Working something quick out with David and Walker, so new plot w/ names coming soon

[2017-07-17 17:24] lindsaycarr commented on #177
![image](https://user-images.githubusercontent.com/13220910/28280885-da3ec420-6aea-11e7-804f-0ef096713877.png)

[2017-07-17 17:26] jread-usgs commented on #177
looks like we need Pearson correlation instead of Spearman

[2017-07-17 17:27] lindsaycarr commented on #177
need to grab population data that is not from 1977 before we start making too many conclusions based on this

[2017-07-17 17:55] lindsaycarr commented on #177
with 2012 population data:

![image](https://user-images.githubusercontent.com/13220910/28282188-39da835c-6aef-11e7-8629-83efe279226f.png)

[code]

[2017-07-17 18:00] jread-usgs commented on #177
@lindsaycarr can you try it w/ Pearson's R?

[2017-07-17 18:20] lindsaycarr commented on #177
Hmm we've got some negative guys in here. Added the top contributing state next to each bar.

![image](https://user-images.githubusercontent.com/13220910/28283204-a969c3d8-6af2-11e7-83ef-863b172b1a2b.png)

[2017-07-17 18:21] lindsaycarr commented on #177
Some seem reasonable, but a lot are skewed because all the developers sit here.

[2017-07-17 18:24] lindsaycarr commented on #177
spearman w/ top states:

![image](https://user-images.githubusercontent.com/13220910/28283391-3cdb5b40-6af3-11e7-9e48-6513a452ffaa.png)

[2017-07-17 18:31] jread-usgs commented on #177
I am not sure the best stat for this, but I think the linear relationship that Pearsons test is more appropriate than the ranking test Spearmans looks for (such as "are the order of states the same?").
I also think lumping all < 0.1 into a score of 0.1 for the time being would be fine.

What this isn't doing yet is properly dealing w/ zeros. For example, the NPS mercury viewer has a pretty "nation

[2017-07-17 19:04] aappling-usgs commented on #177
agreed w/ jread that spearman's may look prettier, but pearson's makes more sense - i'm more interested in differences between the proportions of population and proportions of traffic than i am in any differences in how states rank relative to one another by population vs traffic.

alternatively, what about a metric constructed from the differences or quotients between traffic & population proport

[2017-07-17 19:05] jread-usgs commented on #177
Thinking about this again...what we really want is a metric that gives us some measure of how far off the "real" percentages are from falling on a 1:1 with the "expected" (or population-based) numbers. So I think the slope here is important. Neither of the two metrics we have tried so far do this.

Ok, just saw alison weighed in too

[2017-07-17 19:06] aappling-usgs commented on #177
yeah, agreed on the slope. i think RMSD fixes that part. unsure whether it introduces any other problems...would like to see how it looks.

[2017-07-17 19:53] aappling-usgs commented on #177
revisiting my previous comment: i guess i'm thinking normalized differences, like this:
[code]
with the caveat that if pop_pct is 0.18% (wyoming), then traffic_pct of 1% becomes a huge number (5), and if there were only 100 visitors in a time period, traffic_pct could pretty much randomly flip between 1% and 2%. so small states will contribute noise. the alternative is absolute differences, which

[2017-07-17 19:59] jread-usgs commented on #177
that's a RMSE calculation, isn't it? ☝️

[2017-07-17 20:01] aappling-usgs commented on #177
yes; i just avoided E because they're not really errors in my mind.

the clarification was RMS[E/D] of the relative differences rather than the absolute differences. absolute differences would look like this:
[code]
and i realized i hadn't specifically suggested relative differences in my previous comment.

[2017-07-17 20:05] jread-usgs commented on #177
I think we'll need to boil this down to a scale that is going to be simple to pick up quickly- like a scale from 1-10 or 0-1. From local to national. Tricky to get a RMSD into that kind of scale but maybe there is a simple way to do that.

[2017-07-17 20:41] aappling-usgs commented on #177
what about R^2 for traffic_pct ~ pop_pct? it penalizes relationships with slope != 1, usually ranges between 0 and 1. caveat is that it can be negative for this type of dataset (actual range is -Inf to 1). we could just truncate at a lower limit of 0 for plotting purposes...

![image](https://user-images.githubusercontent.com/12039957/28288821-5a6479d8-6af5-11e7-89a2-1d0fc83c1d1a.png)

![image](ht

[2017-07-17 20:48] jread-usgs commented on #177
That allows an offset though, right? I thought this was the way to pin 1:1 and intercept of 0:
[code]

[2017-07-17 20:54] aappling-usgs commented on #177
i thought we wanted to penalize slopes different from 1, which the above code does. i did the calculation from formula rather than fitting an lm; i'm not sure how you'd fit an lm so it penalized non-1 slopes

[2017-07-17 20:56] aappling-usgs commented on #177
[code]
seems to always give r.squared = 0:
[code]

[2017-07-17 20:57] jread-usgs commented on #177
Gotcha. I understand your's now. I was thinking that was a snippet that went into an `lm()`

[2017-07-17 20:58] jread-usgs commented on #177
I didn't see your snippet at the bottom the first time I looked.

[2017-07-17 20:58] aappling-usgs commented on #177
i might have added it in an edit - that's a bad habit of mine =)

[2017-07-17 20:59] jread-usgs commented on #177
OK, I like this. @lindsaycarr and I are working on getting the data.frame set to do the math.

[2017-07-18 18:14] lindsaycarr commented on #177
OK, so here is what I've got using R^2 for the most recent year of analytics data. The states listed are the ones that deviated the most from "expected" and the numbers in parentheses are the amounts they deviated.

![image](https://user-images.githubusercontent.com/13220910/28332584-f6ef619e-6bba-11e7-8be7-932a1000bf01.png)

[2017-07-18 18:50] jread-usgs commented on #177
Looks good! Alison, what do you think?

[2017-07-18 18:54] aappling-usgs commented on #177
Yeah, I like it! You could probably round the numbers more if you want - looks like you seldom need 1 digit after the decimal point, let alone 2. maybe just go for 2 sig figs?

[2017-07-18 18:56] lindsaycarr commented on #177
Good idea. @jread-usgs any desire to make this 0:10 instead of 0:1?

[2017-07-18 18:57] aappling-usgs commented on #177
PS - i couldn't remember how to do sig figs, so looked it up. in case it's not on the tip of your fingers already:
[code]

[2017-07-24 15:24] jread-usgs opened #193 "partial data not working for non-year calcs?"
WMA internal wiki was added and has a partial month:
![image](https://user-images.githubusercontent.com/2349007/28530662-2eae8968-705a-11e7-9583-8cb29e861f10.png)
but the marker style for month makes it look like it has at least 90% data coverage for that time period:
![image](https://user-images.githubusercontent.com/2349007/28530685-4626c632-705a-11e7-898a-456cd5ac1475.png)

[2017-07-24 16:49] jread-usgs commented on #177
Yes, I think 0-10 as a metric would be great.

Would it be possible to mock up figure1 with this as the second column (only two columns total)?

[2017-07-24 18:13] aappling-usgs commented on #193
ah ha! `process.fill_missing` was assigning the same date range (`n_actual`) to all viewIDs. just need a `group_by()` in there so that ranges are computed for each viewID separately.

[2017-07-24 18:19] jread-usgs commented on #193
Good find!

[2017-07-24 18:47] aappling-usgs commented on #193
yep, that did it.

from:
![image](https://user-images.githubusercontent.com/12039957/28537857-275efdb2-7061-11e7-8fb4-5a077bbdf335.png)

to:
![image](https://user-images.githubusercontent.com/12039957/28539216-c6a7cb7a-7065-11e7-9a8b-be2452677ddf.png)

[2017-07-24 18:53] #193 closed

[2017-07-25 13:01] lindsaycarr commented on #177
@jread-usgs I just read this again, but I'm actually not sure what you are talking about. Add this to Fig 1 of the internal-analytics home page? So the yearly analytics bars as column one and this as column two?

[2017-07-25 13:53] jread-usgs commented on #177
Correct @lindsaycarr

[2017-07-25 19:08] lindsaycarr commented on #177
struggling to get the facets for yearly session totals to scale freely

![image](https://user-images.githubusercontent.com/13220910/28589203-b97c9984-7142-11e7-9282-fcc48fcc99e4.png)

[2017-07-25 19:15] aappling-usgs commented on #177
what have you tried? does this help? https://stackoverflow.com/a/21585521/3203184

[2017-07-25 19:29] lindsaycarr commented on #177
So, I didn't touch the plotting code; just changed the data. The plotting code has:

[code]

which I think would do this appropriately. I've tried all options for scales and space (free, fixed, free_y, free_x)

[2017-07-25 19:32] aappling-usgs commented on #177
and if you delete the regionalization rows, everything is nice again?

[2017-07-25 19:33] ldecicco-USGS commented on #177
facet_grid is designed to use the same scale in x in 1 column, or the same y scale in 1 row...so you have to scale it yourself if you want to bypass that.

If you are using the processed data from trend_all (?), then you should be able to use "scaled_value", "scaled_newUser", and "text_placement".

[2017-07-25 19:37] lindsaycarr commented on #177
Ha - just figured it out. Needed it to ignore scaled_newUser

[2017-07-25 19:40] lindsaycarr commented on #177
Wait, that wasn't exactly it. I don't really understand why, but having both of these lines makes it not scale freely, but removing either of them allows it to.

[code]

Result when removing first line:
![image](https://user-images.githubusercontent.com/13220910/28590241-14bc7cd4-7147-11e7-84b5-4f7b705e56a3.png)

[2017-07-25 19:42] aappling-usgs commented on #177
/shrug !

[2018-01-25 22:18] #154 closed

[2018-01-25 22:19] #80 closed

[2018-01-25 22:19] #152 closed

[2018-04-06 20:01] lindsaycarr opened #206 "Thinking about success/value metrics."
Think about potential ways to show value to various applications that moves beyond just traffic. Could categorize and think about different metrics for each category?

There was a "reach" metric being developed awhile ago to try to explain spatial extent of the site's users. Was it more a nationally used application or local? See my branch `regionality` (specifically this script https://github.com

[2018-04-06 20:03] lindsaycarr opened #207 "List of appropriate applications to include in quarterly reports."
Inventory of what should be evaluated. Start with what’s used in internal analytics dashboard. Follow up with Emily to see if there's more than what's here that needs to be included in the evaluations.

[2018-04-06 20:12] lindsaycarr opened #208 "Role of WRET/Drupal"
Think about this. Is the goal to track how all of the static pages are being used? Probably not. What would be useful is knowing if people navigated to our other applications from the new WRET/Drupal sites.

What else would be useful to know about the migrated sites relationship to our applications?

[2018-04-06 20:15] lindsaycarr opened #209 "UA tag in Drupal land should be tracking things - is it?"
David talked to Tim Woods about this awhile ago. This is how we will know if someone comes from a Drupal site or not. We need to follow up and see what's become of this.

[2018-04-06 20:17] lindsaycarr opened #210 "what can loggly do for us?"
https://www.loggly.com/

TX folks have looked into it before. Ask them about it and see if it makes any sense for us. If it goes anywhere, could involve ETO.

[2018-04-06 20:19] lindsayplatt opened #211 "exploring server logs of other applications"
What can we glean from the server logs of other applications? We should also talk to the devs and ask them why certain things are being logged.

[2018-04-06 20:23] lindsayplatt opened #212 "first iteration of quarterly report"
David mentioned something about May 1, which is right around the corner. Identify which applications we should include. Probably include a disclaimer to management saying that high traffic does not necessarily mean high value.

This is obviously a big task, which can be broken down later.

[2018-04-09 16:07] jread-usgs commented on #212
We shouldn't consider May 1 to be the due date for the first quarterly report. Let's set a self-imposed deadline for later in the FY, perhaps the end of the FY would be appropriate.

[2018-04-10 13:47] lindsaycarr commented on #212
Phew - glad to hear you say that!

[2018-05-31 21:02] wdwatkins commented on #209
We are getting data, just need to implement some filtering to sort out WMA content.  I emailed Jen about which URLs to use.

[2018-12-10 22:12] ldecicco-USGS opened #217 "Enhancements to reduce trend worries"
Because we talk a lot about this on Slack, but it's not documented here:

Is there enough concern about the seasonal trends to:
(a) take off the triangles? (small task)
(b) overlay last year/month/week (large task)
(c) do something else?

I think the question boils down to...are the triangles more helpful than hurtful? We have many applications with seasonal trends where the triangles aren't usefu

[2019-02-25 22:50] ldecicco-USGS opened #224 "Re-think how to save GA data"
We had to bump up how much memory the Jenkins machine had to get the app to work. It might make sense to split up getting the data and saving it to S3 to 1 job, and make the viz (which only needs 1 year) another job. (that being said, I think with the increased memory and turning on compression, I think we're fine for awhile).

But...we should probably be thinking about how we save and use the dat

[2019-02-25 23:27] ldecicco-USGS commented on #224
Maybe we can use scipiper to do the data pulling, and vizlab for the ...viz

[2019-04-25 22:39] wdwatkins commented on #209
Looks like this just needs to be added to the dashboard now?

[2019-04-25 22:41] wdwatkins commented on #177
@lindsayplatt what is the status of this work?  Is the metric settled and ready for prime time?

[2019-04-25 23:01] wdwatkins commented on #224
Yeah I think separating the data pull and viz build is probably good.  We are planning to add some metrics soon, which may be a good time to rethink how the data is pulled also (perhaps make it more modular?).  The new metrics will have to be pulled for the entire time period — we could re-pull everything, or just the new metrics and join it on

[2019-04-25 23:02] wdwatkins commented on #102
For the record, time zone is in the view metadata returned by `googleAnaltyticsR::ga_view`

[2019-04-25 23:48] wdwatkins opened #225 "How to present days since last session and session count?"
These are both GA dimensions, and so are provided as sessions (metric) with X session count or days since last session.  Options include a histogram for a given time period (day/week/year), or alternatively we could present a daily mean weighted by number of sessions.  In theory trends in these could be useful, but some exploratory analysis is needed first.

Hard to say what the distribution will

[2019-04-26 21:15] wdwatkins commented on #225
Interpretation of these is rather tricky also, so some explanatory text would definitely be in order.

[2019-04-26 22:42] wdwatkins opened #226 "pull new GA dimensions"
If we want to add session count and days since last session, they would need to be pulled for the last year for all apps.  The current data pull isn't set up to go back in time for only a new dimension — it only uses dates available to know what needs to be pulled.  It may make sense to just re-pull all the data

Will want to consider #224 at the same time likely

[2019-04-26 22:48] wdwatkins commented on #224
Re: system resources, we should probably consider dockerizing if we were going to pull out the data pull

[2019-06-06 19:57] wdwatkins commented on #217
We have a disclaimer in the caption now, so there is at least more information about what the trends represent.

[2019-10-09 16:06] wdwatkins opened #243 "Fix apps having NA for sidebar ordering"
![image](https://user-images.githubusercontent.com/13987349/66499065-eecc0f00-ea73-11e9-9887-d49d959b1827.png)
These apps should be in the category shown on the main plot, but do to some slight name mismatches they end up without a category there.  The join either needs to be modified, or there is older data that isn't being refreshed using an older name.